openapi: 3.2.0
info:
  title: Mitto Statistic API
  version: '2026-10-03'
  description: 'GENERATED FROM DOCUMENTATION by API Evangelist on 2026-10-03: 17 operation(s) read from 7 public documentation page(s) (each operation names its page in x-source). This is not the provider''s published contract; Mitto has published no machine-readable contract that the pipeline could find. Engine: local.'
  x-evidence-tiers:
    code-example: 0
    documentation: 17
    pages-with-code: 0
    pages-read: 7
  x-generated-from: documentation
  x-provenance: generated
  x-authored-by: API Evangelist
  x-generated: '2026-10-03'
  x-generator: generate-contract-from-docs.py
  x-engine: local
  x-sources:
  - https://documentation.mitto.ch/apis/chat-apps/api/messages.md
  - https://documentation.mitto.ch/apis/chat-apps/api/webhooks.md
  - https://documentation.mitto.ch/apis/chat-apps/api/customers.md
  - https://documentation.mitto.ch/apis/chat-apps/api/statistic.md
  - https://documentation.mitto.ch/apis/chat-apps/api/traffic-accounts.md
  - https://documentation.mitto.ch/apis/sms/about-the-sms-api-reference.md
  - https://documentation.mitto.ch/apis/chat-apps/api/auto-reply-configs.md
servers:
- url: https://messaging.mittoapi.com
security:
- X-Mitto-API-Key: []
tags:
- name: Statistic
paths:
  /api/v1.1/Statistic/{statisticid}:
    get:
      operationId: get_api_v1_1_Statistic_statisticid
      tags:
      - Statistic
      summary: Get monthly active users statistics
      x-source: https://documentation.mitto.ch/apis/chat-apps/api/statistic.md
      parameters:
      - name: statisticid
        in: path
        required: true
        schema:
          type: string
      - name: GroupBy
        in: query
        required: false
        schema:
          type: string
        description: Groups the result-set by one or more columns
      - name: DateFrom
        in: query
        required: false
        schema:
          type: string
        description: Date from
      - name: DateTo
        in: query
        required: false
        schema:
          type: string
        description: Date to
      responses:
        '200':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApiV11StatisticStatisticidResponse'
      x-evidence:
        kind: documentation
        collapsed_from: 3 example path(s) differing only at statisticId
  /api/v1/Statistic/{statisticid}:
    get:
      operationId: get_api_v1_Statistic_statisticid
      tags:
      - Statistic
      summary: Get monthly active users statistics
      x-source: https://documentation.mitto.ch/apis/chat-apps/api/statistic.md
      parameters:
      - name: statisticid
        in: path
        required: true
        schema:
          type: string
      - name: GroupBy
        in: query
        required: false
        schema:
          type: string
        description: Groups the result-set by one or more columns
      - name: DateFrom
        in: query
        required: false
        schema:
          type: string
        description: Date from
      - name: DateTo
        in: query
        required: false
        schema:
          type: string
        description: Date to
      responses:
        '200':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApiV1StatisticStatisticidResponse'
      x-evidence:
        kind: documentation
        collapsed_from: 3 example path(s) differing only at statisticId
components:
  schemas:
    GetApiV1StatisticStatisticidResponse:
      type: object
      properties:
        '200':
          type: string
          description: Statistic response
        '400':
          type: string
        '403':
          type: string
    GetApiV11StatisticStatisticidResponse:
      type: object
      properties:
        '200':
          type: string
          description: Statistic response
        '400':
          type: string
        '403':
          type: string
  securitySchemes:
    X-Mitto-API-Key:
      type: apiKey
      in: header
      name: X-Mitto-API-Key
      x-source: https://documentation.mitto.ch/solutions/editor/preferences/api-keys.md
