openapi: 3.2.0
info:
  title: Mitto API
  version: '2026-10-03'
  description: 'GENERATED FROM DOCUMENTATION by API Evangelist on 2026-10-03: 17 operation(s) read from 7 public documentation page(s) (each operation names its page in x-source). This is not the provider''s published contract; Mitto has published no machine-readable contract that the pipeline could find. Engine: local.'
  x-evidence-tiers:
    code-example: 0
    documentation: 17
    pages-with-code: 0
    pages-read: 7
  x-generated-from: documentation
  x-provenance: generated
  x-authored-by: API Evangelist
  x-generated: '2026-10-03'
  x-generator: generate-contract-from-docs.py
  x-engine: local
  x-sources:
  - https://documentation.mitto.ch/apis/chat-apps/api/messages.md
  - https://documentation.mitto.ch/apis/chat-apps/api/webhooks.md
  - https://documentation.mitto.ch/apis/chat-apps/api/customers.md
  - https://documentation.mitto.ch/apis/chat-apps/api/statistic.md
  - https://documentation.mitto.ch/apis/chat-apps/api/traffic-accounts.md
  - https://documentation.mitto.ch/apis/sms/about-the-sms-api-reference.md
  - https://documentation.mitto.ch/apis/chat-apps/api/auto-reply-configs.md
servers:
- url: https://messaging.mittoapi.com
security:
- X-Mitto-API-Key: []
tags:
- name: Mitto API
paths:
  /api/v1.1/{v11id}:
    get:
      operationId: get_api_v1_1_v11id
      tags:
      - Mitto API
      summary: Get auto reply configs
      x-source: https://documentation.mitto.ch/apis/chat-apps/api/auto-reply-configs.md
      parameters:
      - name: v11id
        in: path
        required: true
        schema:
          type: string
      - name: TrafficAccountId
        in: query
        required: false
        schema:
          type: string
        description: "Traffic account id\n            "
      responses:
        '200':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApiV11V11IdResponse'
      x-evidence:
        kind: documentation
        collapsed_from: 3 example path(s) differing only at v11Id
    post:
      operationId: post_api_v1_1_v11id
      tags:
      - Mitto API
      summary: Create auto reply config
      x-source: https://documentation.mitto.ch/apis/chat-apps/api/auto-reply-configs.md
      parameters:
      - name: v11id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostApiV11V11IdRequest'
      responses:
        '201':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostApiV11V11IdResponse'
      x-evidence:
        kind: documentation
        collapsed_from: 2 example path(s) differing only at v11Id
  /api/v1.1/{v11id}/{id}:
    delete:
      operationId: delete_api_v1_1_v11id_id
      tags:
      - Mitto API
      summary: Delete auto reply config
      x-source: https://documentation.mitto.ch/apis/chat-apps/api/auto-reply-configs.md
      parameters:
      - name: v11id
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteApiV11V11IdIdResponse'
      x-evidence:
        kind: documentation
        collapsed_from: 2 example path(s) differing only at v11Id
    get:
      operationId: get_api_v1_1_v11id_id
      tags:
      - Mitto API
      summary: Get auto reply config by id
      x-source: https://documentation.mitto.ch/apis/chat-apps/api/auto-reply-configs.md
      parameters:
      - name: v11id
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApiV11V11IdIdResponse'
      x-evidence:
        kind: documentation
        collapsed_from: 2 example path(s) differing only at v11Id
    put:
      operationId: put_api_v1_1_v11id_id
      tags:
      - Mitto API
      summary: Update auto reply config
      x-source: https://documentation.mitto.ch/apis/chat-apps/api/auto-reply-configs.md
      parameters:
      - name: v11id
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutApiV11V11IdIdRequest'
      responses:
        '200':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PutApiV11V11IdIdResponse'
      x-evidence:
        kind: documentation
        collapsed_from: 2 example path(s) differing only at v11Id
  /api/v1/{v1id}:
    get:
      operationId: get_api_v1_v1id
      tags:
      - Mitto API
      summary: Get all traffic accounts
      x-source: https://documentation.mitto.ch/apis/chat-apps/api/traffic-accounts.md
      parameters:
      - name: v1id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApiV1V1IdResponse'
      x-evidence:
        kind: documentation
        collapsed_from: 2 example path(s) differing only at v1Id
  /api/v1/{v1id}/{id}:
    get:
      operationId: get_api_v1_v1id_id
      tags:
      - Mitto API
      summary: Get message by Id
      x-source: https://documentation.mitto.ch/apis/chat-apps/api/messages.md
      parameters:
      - name: v1id
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApiV1V1IdIdResponse'
      x-evidence:
        kind: documentation
        collapsed_from: 2 example path(s) differing only at v1Id
components:
  schemas:
    PostApiV11V11IdResponse:
      type: object
      properties:
        '200':
          type: string
          description: Created Get auto reply config
        '400':
          type: string
        '403':
          type: string
    GetApiV1V1IdResponse:
      type: object
      properties:
        '200':
          type: string
          description: Traffic accounts list
        '400':
          type: string
        '403':
          type: string
    GetApiV1V1IdIdResponse:
      type: object
      properties:
        messageId:
          type: string
          description: Message id
        text:
          type: string
          description: Message text
        mediaUrl:
          type: string
          description: Message media URL
        sender:
          type: object
          description: Message sender information
        conversation:
          type: object
          description: Conversation information
        createdAt:
          type: string
          description: Message creation date
        updatedAt:
          type: string
          description: Message update date
        trafficAccountId:
          type: string
          description: Message traffic account id
        deliveryStatus:
          type: string
          description: Message delivery status
        description:
          type: string
          description: Message status description
        quotedMessageId:
          type: string
          description: Quoted message id
        messageParts:
          type: integer
          description: Shows into how many parts is original message split. It is used only for SMS channel, for others it should be considered 1 by default (or if null)
        requestInfo:
          type: object
          description: Details from original request
        reference:
          type: string
          description: Metadata for tagging messages
    GetApiV11V11IdIdResponse:
      type: object
      properties:
        '200':
          type: string
          description: Auto reply config response
        '403':
          type: string
    GetApiV11V11IdResponse:
      type: object
      properties:
        '200':
          type: string
          description: Auto reply configs list
        '403':
          type: string
    DeleteApiV11V11IdIdResponse:
      type: object
      properties:
        '200':
          type: string
        '400':
          type: string
        '403':
          type: string
    PutApiV11V11IdIdRequest:
      type: object
      properties:
        body:
          type: string
          description: AutoReplyConfigCreateUpdate
      required:
      - body
    PutApiV11V11IdIdResponse:
      type: object
      properties:
        '200':
          type: string
          description: Updated auto reply config
        '400':
          type: string
        '403':
          type: string
    PostApiV11V11IdRequest:
      type: object
      properties:
        body:
          type: string
          description: AutoReplyConfigCreateUpdate
      required:
      - body
  securitySchemes:
    X-Mitto-API-Key:
      type: apiKey
      in: header
      name: X-Mitto-API-Key
      x-source: https://documentation.mitto.ch/solutions/editor/preferences/api-keys.md
