openapi: 3.2.0
info:
  title: Mitto APIs API
  version: '2026-10-03'
  description: 'GENERATED FROM DOCUMENTATION by API Evangelist on 2026-10-03: 17 operation(s) read from 7 public documentation page(s) (each operation names its page in x-source). This is not the provider''s published contract; Mitto has published no machine-readable contract that the pipeline could find. Engine: local.'
  x-evidence-tiers:
    code-example: 0
    documentation: 17
    pages-with-code: 0
    pages-read: 7
  x-generated-from: documentation
  x-provenance: generated
  x-authored-by: API Evangelist
  x-generated: '2026-10-03'
  x-generator: generate-contract-from-docs.py
  x-engine: local
  x-sources:
  - https://documentation.mitto.ch/apis/chat-apps/api/messages.md
  - https://documentation.mitto.ch/apis/chat-apps/api/webhooks.md
  - https://documentation.mitto.ch/apis/chat-apps/api/customers.md
  - https://documentation.mitto.ch/apis/chat-apps/api/statistic.md
  - https://documentation.mitto.ch/apis/chat-apps/api/traffic-accounts.md
  - https://documentation.mitto.ch/apis/sms/about-the-sms-api-reference.md
  - https://documentation.mitto.ch/apis/chat-apps/api/auto-reply-configs.md
servers:
- url: https://messaging.mittoapi.com
security:
- X-Mitto-API-Key: []
tags:
- name: APIs
paths:
  /apis/sms/about-the-sms-api-reference.md:
    get:
      operationId: get_apis_sms_about_the_sms_api_reference_md
      tags:
      - APIs
      summary: About the SMS API Reference
      description: Perform an HTTP GET request on the current page URL with the `ask` query parameter, and the optional `goal` query parameter to retrieve a direct answer and relevant excerpts from the documentation.
      x-source: https://documentation.mitto.ch/apis/sms/about-the-sms-api-reference.md
      parameters:
      - name: ask
        in: query
        required: true
        schema:
          type: string
        description: The immediate question; specific, self‑contained, natural language.
      - name: goal
        in: query
        required: false
        schema:
          type: string
        description: Optional broader end goal for tailoring the answer.
      responses:
        '200':
          description: Success (status as documented)
      x-evidence:
        kind: documentation
components:
  securitySchemes:
    X-Mitto-API-Key:
      type: apiKey
      in: header
      name: X-Mitto-API-Key
      x-source: https://documentation.mitto.ch/solutions/editor/preferences/api-keys.md
