openapi: 3.1.0
info:
  title: Mitto API
  version: '2026-10-03'
  description: 'GENERATED FROM DOCUMENTATION by API Evangelist on 2026-10-03: 17 operation(s) read from 7 public documentation page(s) (each operation
    names its page in x-source). This is not the provider''s published contract; Mitto has published no machine-readable contract that the pipeline
    could find. Engine: local.'
  x-evidence-tiers:
    code-example: 0
    documentation: 17
    pages-with-code: 0
    pages-read: 7
  x-generated-from: documentation
  x-provenance: generated
  x-authored-by: API Evangelist
  x-generated: '2026-10-03'
  x-generator: generate-contract-from-docs.py
  x-engine: local
  x-sources:
  - https://documentation.mitto.ch/apis/chat-apps/api/messages.md
  - https://documentation.mitto.ch/apis/chat-apps/api/webhooks.md
  - https://documentation.mitto.ch/apis/chat-apps/api/customers.md
  - https://documentation.mitto.ch/apis/chat-apps/api/statistic.md
  - https://documentation.mitto.ch/apis/chat-apps/api/traffic-accounts.md
  - https://documentation.mitto.ch/apis/sms/about-the-sms-api-reference.md
  - https://documentation.mitto.ch/apis/chat-apps/api/auto-reply-configs.md
servers:
- url: https://messaging.mittoapi.com
paths:
  /api/v1.1/AutoReplyConfigs/{id}/trafficAccounts/{trafficaccountid}:
    delete:
      operationId: delete_api_v1_1_AutoReplyConfigs_id_trafficAccounts_trafficaccountid
      tags:
      - Api
      summary: Unlink auto reply config from traffic account
      description: Unlink auto reply config from traffic account
      x-source: https://documentation.mitto.ch/apis/chat-apps/api/auto-reply-configs.md
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: trafficaccountid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteApiV11AutoreplyconfigsIdTrafficaccountsTrafficaccounti'
      x-evidence:
        kind: documentation
    post:
      operationId: post_api_v1_1_AutoReplyConfigs_id_trafficAccounts_trafficaccountid
      tags:
      - Api
      summary: 'Link auto reply config to traffic account

        "Linking/unlinking" config to TA will ignore auto reply''s that were already sent, and the config logic will be applied from start'
      description: Link auto reply config to traffic account
      x-source: https://documentation.mitto.ch/apis/chat-apps/api/auto-reply-configs.md
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: trafficaccountid
        in: path
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostApiV11AutoreplyconfigsIdTrafficaccountsTrafficaccountidR'
      x-evidence:
        kind: documentation
  /api/v1.1/Customers/{customerid}:
    post:
      operationId: post_api_v1_1_Customers_customerid
      tags:
      - Api
      summary: Change password
      x-source: https://documentation.mitto.ch/apis/chat-apps/api/customers.md
      parameters:
      - name: customerid
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostApiV11CustomersCustomeridRequest'
      responses:
        '200':
          description: Success (status as documented)
      x-evidence:
        kind: documentation
        collapsed_from: 2 example path(s) differing only at customerId
  /api/v1.1/Statistic/{statisticid}:
    get:
      operationId: get_api_v1_1_Statistic_statisticid
      tags:
      - Api
      summary: Get monthly active users statistics
      description: Get monthly active users statistics
      x-source: https://documentation.mitto.ch/apis/chat-apps/api/statistic.md
      parameters:
      - name: statisticid
        in: path
        required: true
        schema:
          type: string
      - name: GroupBy
        in: query
        required: false
        schema:
          type: string
        description: Groups the result-set by one or more columns
      - name: DateFrom
        in: query
        required: false
        schema:
          type: string
        description: Date from
      - name: DateTo
        in: query
        required: false
        schema:
          type: string
        description: Date to
      responses:
        '200':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApiV11StatisticStatisticidResponse'
      x-evidence:
        kind: documentation
        collapsed_from: 3 example path(s) differing only at statisticId
  /api/v1.1/{v11id}:
    get:
      operationId: get_api_v1_1_v11id
      tags:
      - Api
      summary: Get auto reply configs
      description: Get auto reply configs
      x-source: https://documentation.mitto.ch/apis/chat-apps/api/auto-reply-configs.md
      parameters:
      - name: v11id
        in: path
        required: true
        schema:
          type: string
      - name: TrafficAccountId
        in: query
        required: false
        schema:
          type: string
        description: "Traffic account id\n            "
      responses:
        '200':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApiV11V11IdResponse'
      x-evidence:
        kind: documentation
        collapsed_from: 3 example path(s) differing only at v11Id
    post:
      operationId: post_api_v1_1_v11id
      tags:
      - Api
      summary: Create auto reply config
      description: Create auto reply config
      x-source: https://documentation.mitto.ch/apis/chat-apps/api/auto-reply-configs.md
      parameters:
      - name: v11id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostApiV11V11IdRequest'
      responses:
        '201':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostApiV11V11IdResponse'
      x-evidence:
        kind: documentation
        collapsed_from: 2 example path(s) differing only at v11Id
  /api/v1.1/{v11id}/{id}:
    delete:
      operationId: delete_api_v1_1_v11id_id
      tags:
      - Api
      summary: Delete auto reply config
      description: Delete auto reply config
      x-source: https://documentation.mitto.ch/apis/chat-apps/api/auto-reply-configs.md
      parameters:
      - name: v11id
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteApiV11V11IdIdResponse'
      x-evidence:
        kind: documentation
        collapsed_from: 2 example path(s) differing only at v11Id
    get:
      operationId: get_api_v1_1_v11id_id
      tags:
      - Api
      summary: Get auto reply config by id
      description: Get auto reply config by id
      x-source: https://documentation.mitto.ch/apis/chat-apps/api/auto-reply-configs.md
      parameters:
      - name: v11id
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApiV11V11IdIdResponse'
      x-evidence:
        kind: documentation
        collapsed_from: 2 example path(s) differing only at v11Id
    put:
      operationId: put_api_v1_1_v11id_id
      tags:
      - Api
      summary: Update auto reply config
      description: Update auto reply config
      x-source: https://documentation.mitto.ch/apis/chat-apps/api/auto-reply-configs.md
      parameters:
      - name: v11id
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutApiV11V11IdIdRequest'
      responses:
        '200':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PutApiV11V11IdIdResponse'
      x-evidence:
        kind: documentation
        collapsed_from: 2 example path(s) differing only at v11Id
  /api/v1/Customers/{customerid}:
    post:
      operationId: post_api_v1_Customers_customerid
      tags:
      - Api
      summary: Change password
      x-source: https://documentation.mitto.ch/apis/chat-apps/api/customers.md
      parameters:
      - name: customerid
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostApiV1CustomersCustomeridRequest'
      responses:
        '200':
          description: Success (status as documented)
      x-evidence:
        kind: documentation
        collapsed_from: 2 example path(s) differing only at customerId
  /api/v1/Statistic/{statisticid}:
    get:
      operationId: get_api_v1_Statistic_statisticid
      tags:
      - Api
      summary: Get monthly active users statistics
      description: Get monthly active users statistics
      x-source: https://documentation.mitto.ch/apis/chat-apps/api/statistic.md
      parameters:
      - name: statisticid
        in: path
        required: true
        schema:
          type: string
      - name: GroupBy
        in: query
        required: false
        schema:
          type: string
        description: Groups the result-set by one or more columns
      - name: DateFrom
        in: query
        required: false
        schema:
          type: string
        description: Date from
      - name: DateTo
        in: query
        required: false
        schema:
          type: string
        description: Date to
      responses:
        '200':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApiV1StatisticStatisticidResponse'
      x-evidence:
        kind: documentation
        collapsed_from: 3 example path(s) differing only at statisticId
  /api/v1/Webhooks:
    post:
      operationId: post_api_v1_Webhooks
      tags:
      - Api
      summary: Create webhook
      x-source: https://documentation.mitto.ch/apis/chat-apps/api/webhooks.md
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostApiV1WebhooksRequest'
      responses:
        '201':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostApiV1WebhooksResponse'
      x-evidence:
        kind: documentation
  /api/v1/Webhooks/{id}:
    delete:
      operationId: delete_api_v1_Webhooks_id
      tags:
      - Api
      summary: Delete webhook
      x-source: https://documentation.mitto.ch/apis/chat-apps/api/webhooks.md
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: forceDelete
        in: query
        required: false
        schema:
          type: string
        description: In case webhook is linked to some TrafficAccounts, setting this option to True will automatically unlink it from all TrafficAccounts
          prior to deleting it.
      responses:
        '200':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteApiV1WebhooksIdResponse'
      x-evidence:
        kind: documentation
    put:
      operationId: put_api_v1_Webhooks_id
      tags:
      - Api
      summary: Update webhook
      x-source: https://documentation.mitto.ch/apis/chat-apps/api/webhooks.md
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutApiV1WebhooksIdRequest'
      responses:
        '200':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PutApiV1WebhooksIdResponse'
      x-evidence:
        kind: documentation
  /api/v1/{v1id}:
    get:
      operationId: get_api_v1_v1id
      tags:
      - Api
      summary: Get all traffic accounts
      description: Get all traffic accounts
      x-source: https://documentation.mitto.ch/apis/chat-apps/api/traffic-accounts.md
      parameters:
      - name: v1id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApiV1V1IdResponse'
      x-evidence:
        kind: documentation
        collapsed_from: 2 example path(s) differing only at v1Id
  /api/v1/{v1id}/{id}:
    get:
      operationId: get_api_v1_v1id_id
      tags:
      - Api
      summary: Get message by Id
      description: Get message by Id
      x-source: https://documentation.mitto.ch/apis/chat-apps/api/messages.md
      parameters:
      - name: v1id
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApiV1V1IdIdResponse'
      x-evidence:
        kind: documentation
        collapsed_from: 2 example path(s) differing only at v1Id
  /apis/sms/about-the-sms-api-reference.md:
    get:
      operationId: get_apis_sms_about_the_sms_api_reference_md
      tags:
      - Apis
      summary: About the SMS API Reference
      description: Perform an HTTP GET request on the current page URL with the `ask` query parameter, and the optional `goal` query parameter
        to retrieve a direct answer and relevant excerpts from the documentation.
      x-source: https://documentation.mitto.ch/apis/sms/about-the-sms-api-reference.md
      parameters:
      - name: ask
        in: query
        required: true
        schema:
          type: string
        description: The immediate question; specific, self‑contained, natural language.
      - name: goal
        in: query
        required: false
        schema:
          type: string
        description: Optional broader end goal for tailoring the answer.
      responses:
        '200':
          description: Success (status as documented)
      x-evidence:
        kind: documentation
components:
  schemas:
    DeleteApiV11AutoreplyconfigsIdTrafficaccountsTrafficaccounti:
      type: object
      properties:
        '200':
          type: string
        '400':
          type: string
        '403':
          type: string
    PostApiV11AutoreplyconfigsIdTrafficaccountsTrafficaccountidR:
      type: object
      properties:
        '200':
          type: string
        '400':
          type: string
        '403':
          type: string
    PostApiV11CustomersCustomeridRequest:
      type: object
      properties:
        oldPassword:
          type: string
          description: Old password
        newPassword:
          type: string
          description: New password
      required:
      - oldPassword
      - newPassword
    GetApiV11StatisticStatisticidResponse:
      type: object
      properties:
        '200':
          type: string
          description: Statistic response
        '400':
          type: string
        '403':
          type: string
    GetApiV11V11IdResponse:
      type: object
      properties:
        '200':
          type: string
          description: Auto reply configs list
        '403':
          type: string
    PostApiV11V11IdRequest:
      type: object
      properties:
        body:
          type: string
          description: AutoReplyConfigCreateUpdate
      required:
      - body
    PostApiV11V11IdResponse:
      type: object
      properties:
        '200':
          type: string
          description: Created Get auto reply config
        '400':
          type: string
        '403':
          type: string
    DeleteApiV11V11IdIdResponse:
      type: object
      properties:
        '200':
          type: string
        '400':
          type: string
        '403':
          type: string
    GetApiV11V11IdIdResponse:
      type: object
      properties:
        '200':
          type: string
          description: Auto reply config response
        '403':
          type: string
    PutApiV11V11IdIdRequest:
      type: object
      properties:
        body:
          type: string
          description: AutoReplyConfigCreateUpdate
      required:
      - body
    PutApiV11V11IdIdResponse:
      type: object
      properties:
        '200':
          type: string
          description: Updated auto reply config
        '400':
          type: string
        '403':
          type: string
    PostApiV1CustomersCustomeridRequest:
      type: object
      properties:
        oldPassword:
          type: string
          description: Old password
        newPassword:
          type: string
          description: New password
      required:
      - oldPassword
      - newPassword
    GetApiV1StatisticStatisticidResponse:
      type: object
      properties:
        '200':
          type: string
          description: Statistic response
        '400':
          type: string
        '403':
          type: string
    PostApiV1WebhooksRequest:
      type: object
      properties:
        url:
          type: string
          description: Webhook url
        description:
          type: string
          description: Webhook description to give it some extra info
        webhookTriggers:
          type: string
          description: Webhook triggers list
        headers:
          type: string
          description: Webhook http headers (optional)
        linkTrafficAccountIds:
          type: string
          description: List of existing traffic account Ids to link to this webhook. Optional.
    PostApiV1WebhooksResponse:
      type: object
      properties:
        '201':
          type: string
          description: Created webhook
        '400':
          type: string
        '403':
          type: string
    DeleteApiV1WebhooksIdResponse:
      type: object
      properties:
        '200':
          type: string
        '400':
          type: string
        '403':
          type: string
    PutApiV1WebhooksIdRequest:
      type: object
      properties:
        url:
          type: string
          description: Webhook url
        description:
          type: string
          description: Webhook description to give it some extra info
        webhookTriggers:
          type: string
          description: Webhook triggers list
        headers:
          type: string
          description: Webhook http headers (optional)
        linkTrafficAccountIds:
          type: string
          description: List of existing traffic account Ids to link to this webhook. Optional.
    PutApiV1WebhooksIdResponse:
      type: object
      properties:
        '200':
          type: string
          description: Updated webhook
        '400':
          type: string
        '403':
          type: string
    GetApiV1V1IdResponse:
      type: object
      properties:
        '200':
          type: string
          description: Traffic accounts list
        '400':
          type: string
        '403':
          type: string
    GetApiV1V1IdIdResponse:
      type: object
      properties:
        messageId:
          type: string
          description: Message id
        text:
          type: string
          description: Message text
        mediaUrl:
          type: string
          description: Message media URL
        sender:
          type: object
          description: Message sender information
        conversation:
          type: object
          description: Conversation information
        createdAt:
          type: string
          description: Message creation date
        updatedAt:
          type: string
          description: Message update date
        trafficAccountId:
          type: string
          description: Message traffic account id
        deliveryStatus:
          type: string
          description: Message delivery status
        description:
          type: string
          description: Message status description
        quotedMessageId:
          type: string
          description: Quoted message id
        messageParts:
          type: integer
          description: Shows into how many parts is original message split. It is used only for SMS channel, for others it should be considered
            1 by default (or if null)
        requestInfo:
          type: object
          description: Details from original request
        reference:
          type: string
          description: Metadata for tagging messages
  securitySchemes:
    X-Mitto-API-Key:
      type: apiKey
      in: header
      name: X-Mitto-API-Key
      x-source: https://documentation.mitto.ch/solutions/editor/preferences/api-keys.md
tags:
- name: Api
- name: Apis
security:
- X-Mitto-API-Key: []
